#transfer {
  width: 300px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
  font-family: "Ubuntu";
  text-align: left;
}

#transfer-note {
  position: relative;
  width: 284px;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: "Ubuntu";
  padding: 8px;
  text-align: justify;
  line-height: 18px;
  color: black;
}

#transfer-menu {
  margin-left: 4px;
}

#transfer-button {
  margin-top: 20px;
  margin-left: 10px;
  width: 280px;
  height: 50px;
}

#transfer-title {
  height: 20px;
  padding: 10px;
  line-height: 20px;
  font-size: 20px;
  font-family: "Ubuntu";
  text-align: left;
}

.transfermenu-label-top {
  float: left;
  width: 135px;
  height: 10px;
  line-height: 10px;
  font-size: 10px;
  font-family: "Ubuntu";
  text-align: right;
}
.transfermenu-label-top-left {
  float: left;
  width: 135px;
  height: 10px;
  margin-left: 10px;
  line-height: 10px;
  font-size: 10px;
  font-family: "Ubuntu";
  text-align: left;
}
.transfermenu-label-bottom {
  width: 280px;
  height: 10px;
  line-height: 10px;
  font-size: 10px;
  font-family: "Ubuntu";
  text-align: right;
}

.transfer-table {
  /* margin-top: 20px; */
  margin-bottom: 20px;
}
