#tokens-note {
  position: relative;
  width: 284px;
  margin-bottom: 20px;
  font-size: 12px;
  font-family: "Ubuntu";
  padding: 8px;
  text-align: justify;
  line-height: 18px;
  color: black;
}

#token-form {
  position: relative;
  width: 300px;
  margin-bottom: 50px;
}

.token-input {
  position: relative;
  display: block;
  align-items: left;
  clear: both;
  width: 260px;
  margin-left: 10px;
  font-size: 16px;
  font-family: "Ubuntu";
  padding: 8px;
}

.token-input-label {
  position: relative;
  display: block;
  align-items: left;
  clear: both;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 2px;
  margin-left: 10px;
  font-size: 12px;
  /* font-family: "Courier New", Courier, monospace; */
  font-family: "Ubuntu";
  text-align: left;
  color: black;
}

.token-link-icon {
  font-size: 22px !important;
  /* margin-top: 5px; */
  cursor: pointer;
  /* width: 50px; */
}

.faucet-icon {
  cursor: pointer;
}

#create-button {
  position: relative;
  display: block;
  align-items: center;
  clear: both;
  width: 280px;
  height: 40px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
  /* font-family: "Ubuntu"; */
  cursor: pointer;
  /* background-color: black; */
  color: white;
  border: none;
  border-radius: 2px;
}
